html, body
{
    height: 100%;
}
body
{
    background-image: url('http://folhadesabara.com.br/gerenciador/noticias/56424f7f24b05744e5c05077ce6b64314151.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}